* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 93px;
  padding: 24px 0 25px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
  line-height: 1.193;
}
.header__logo-color {
  color: #2196f3;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  gap: 46px;
}
.header__nav-color {
  color: #212121;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-color:hover,
.header__nav-color :focus {
  color: #2196f3;
}
.header__active::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  background-color: #2196f3;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  border-radius: 2px;
}
.header__active {
  color: #2196f3;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  gap: 50px;
  margin-left: auto;
}
.header__contacts-color {
  color: #757575;
  fill: #757575;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contacts-color:hover {
  color: #2196f3;
  fill: #2196f3;
}
.header__contacts svg {
  margin: 0 10px -2px 0;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 94px 0;
  gap: 50px;
}
.block__header {
  font-size: 36px;
  color: #212121;
}
.block__background {
  background-color: #f5f4fa;
}

.top-section {
  background-image: url(https://github.com/BieganskiP/goit-markup-hw-04/blob/main/images/background.jpg?raw=true);
  background-color: rgba(47, 48, 58, 0.4);
  background-blend-mode: difference;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}
.top-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 200px 0;
  gap: 30px;
}
.top-section__header {
  font-size: 44px;
  color: #ffffff;
  letter-spacing: 0.06em;
  font-weight: 900;
  text-align: center;
  line-height: 1.364;
}
.top-section__button {
  background-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.top-section__button:hover {
  -webkit-box-shadow: 1px 1px 5px rgba(116, 114, 114, 0.87);
          box-shadow: 1px 1px 5px rgba(116, 114, 114, 0.87);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: rgba(73, 71, 71, 0.863);
  -webkit-transform: scale(1.05) translateY(0.125rem);
          transform: scale(1.05) translateY(0.125rem);
}

.our-speciality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  padding: 94px 0 0 0;
  justify-content: center;
}
.our-speciality__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  width: 270px;
  background-color: #f5f4fa;
}
.our-speciality__header {
  font-weight: 700;
  color: #212121;
  font-size: 14px;
  margin: 0 0 10px 0;
}
.our-speciality__text {
  line-height: 1.71;
}

.our-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.our-services__description {
  color: #ffffff;
  font-weight: 700;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  text-align: center;
  position: relative;
  text-transform: uppercase;
  padding: 27px 0;
  top: -72px;
}
.our-services-card-size {
  height: 294px;
  width: 370px;
}

.our-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.our-team__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.our-team__name {
  margin: 30px 0 10px 0;
  line-height: 1.1875;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}
.our-team__profession {
  line-height: 1.1875;
  font-size: 16px;
  margin: 0 0 16px 0;
}
.our-team__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.our-team__icon {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-team__icon:hover,
.our-team__icon :focus {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
}

.our-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.our-clients__logo {
  border-radius: 4px;
  border: #afb1b8 solid 1px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients__logo:hover,
.our-clients__logo :focus {
  fill: #2196f3;
  border: #2196f3 solid 1px;
}

.footer {
  width: 100%;
  background-color: #2f303a;
  padding: 60px 0;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 60px;
  color: #ffffff;
}
.footer__logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.193;
}
.footer__logo-color {
  color: #2196f3;
}
.footer__address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  margin: 20px 0 0 0;
}
.footer__links {
  display: block;
  margin: 9px 0 9px 0;
  color: rgba(255, 255, 255, 0.6);
}
.footer__links:hover,
.footer__links :focus {
  color: #2196f3;
}
.footer__header {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin: 20px 0 20px 0px;
}
.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.footer__icon {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1019607843);
  border-radius: 50%;
  fill: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__icon:hover,
.footer__icon :focus {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
}
.footer__sign-up {
  background-color: rgba(0, 0, 0, 0);
  border: solid rgba(255, 255, 255, 0.3) 1px;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  color: #2196f3;
  padding: 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__sign-up:hover,
.footer__sign-up :active,
.footer__sign-up :focus {
  border: 1px solid #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #ffffff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__button {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
  border-style: none;
  margin-left: 12px;
  padding-right: 42px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer__button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer__button:active {
  border: 1px solid #2196f3;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.footer__button-logo {
  position: absolute;
  margin-top: -2px;
  margin-left: -4px;
  width: 65px;
  height: 24px;
  fill: #ffffff;
}

.backdrop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 250ms ease-in;
  transition: all 250ms ease-in;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  gap: 10px;
  color: #757575;
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.modal__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.172;
  color: #212121;
  margin: 40px 0 20px 0;
}
.modal__hover:hover > .modal__input, .modal__hover:focus > .modal__input {
  border: #2196f3 1px solid;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}
.modal__hover:hover > .modal__icon, .modal__hover:focus > .modal__icon {
  fill: #2196f3;
}
.modal__input {
  width: 448px;
  height: 40px;
  display: block;
  margin: 4px 0 0 0;
  border-radius: 4px;
  border: rgba(33, 33, 33, 0.2) 1px solid;
  padding: 0 0 0 30px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment {
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border-radius: 4px;
  outline: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5019607843);
}
.modal__button {
  background-color: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.modal__terms-and-conditions {
  font-size: 14px;
  padding: 10px 0 20px 0;
}
.modal__terms-and-conditions input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}
.modal__terms-and-conditions input:checked ~ .modal__checkmark {
  background-color: #2196f3;
  border: none;
}
.modal__terms-and-conditions :checked ~ .modal__checkmark:after {
  display: block;
}
.modal__checkmark {
  position: absolute;
  cursor: pointer;
  top: 455px;
  left: 45px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  background-color: #ffffff;
  border: #212121 2px solid;
}
.modal__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.modal__tick {
  fill: #ffffff;
  width: 11px;
  height: 8px;
  position: absolute;
  left: 48px;
  top: 459px;
  z-index: 999;
  cursor: pointer;
}
.modal__links {
  text-decoration: underline;
  color: #2196f3;
}
.modal__icon {
  fill: #212121;
  width: 15px;
  height: 13px;
  position: absolute;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icon-position1 {
  top: 125px;
  left: 52px;
}
.modal__icon-position2 {
  top: 194px;
  left: 52px;
}
.modal__icon-position3 {
  top: 260px;
  left: 52px;
}

.header__line-border {
  border-bottom: #ececec solid 1px;
}

.button__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  margin: 94px 0 0 0;
}
.button__filter {
  background-color: #f5f4fa;
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.button__filter:hover,
.button__filter :focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.product__container {
  width: 1200px;
  margin: 0 auto;
}
.product__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
}
.product__card {
  border: #eeeeee solid 1px;
  -ms-flex-preferred-size: calc((100% - 90px) / 3);
      flex-basis: calc((100% - 90px) / 3);
  height: 404px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.product__card:hover {
  cursor: pointer;
  border: 1px solid rgb(238, 238, 238);
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.product__card-header {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.71;
  margin: 20px 0 4px 24px;
}
.product__card-text {
  color: #757575;
  margin: 0px 0px 0px 24px;
  font-size: 16px;
  line-height: 1.6;
  font-size: 14px;
}
.product__hidden {
  max-width: 370px;
  max-height: 294px;
  position: absolute;
  overflow: hidden;
}
.product__hidden:hover .product__slidein {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.product__slidein {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  position: relative;
  width: 374px;
  height: 295px;
  color: #fff;
  font-size: 18px;
  line-height: 1.6;
  padding-left: 24px;
  padding-top: 20px;
  top: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  width: 1200px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */