@import "./utils/colors";
@import "./utils/resets";
@import "./utils/fonts";
@import "./utils/mixins";

@import "./components/header";
@import "./components/index.main";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolio";

body {
	background-color: $primary-color;
	color: $primary-text;
	font-size: map-get($font-size, standard);
	letter-spacing: map-get($letter-spacing, standard);
}

.container {
	width: 1200px;
	@include center;
}
