@import "./utils/colors";
@import "./utils/resets";
@import "./utils/fonts";
@import "./utils/mixins";

@import "./components/header";
@import "./components/indexMain";
@import "./components/footer";
@import "./components/modal";
@import "./components/portfolioMenu";
@import "./components/mobileMenu";

body {
	background-color: $primary-color;
	color: $primary-text;
	font-size: map-get($font-size, standard);
	letter-spacing: map-get($letter-spacing, standard);
}

.container {
	width: 100%;
	@include center;
}

@media (min-width: 768px) {
	.container {
		width: 768px;
		@include center;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1200px;
		@include center;
	}
}
a:focus-within {
	color: $hover-text;
	fill: $hover-text;
}
