.block {
	&__background {
		@include flexCenter(column);
		padding: 94px 0;
		gap: 50px;
	}
	&__header {
		font-size: map-get($font-size, section-header);
		color: $secondary-text;
		text-align: center;
		margin: 0px 0 50px 0;
	}
}

.services {
	&__list {
		@include flexCenter(row);
		gap: 30px;
	}
    &__description {
        color: $primary-color;
        font-weight: map-get($font-weight, bold);
        background-color: #2f303acc;
        height: 70px;
        text-align: center;
        position: relative;
        text-transform: uppercase;
        padding: 27px 0;
        top: -72px;
    }
}
figure {
    margin:0;
}
