.backdrop {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $background-backdrop;
	position: fixed;
	transition: all 250ms ease-in;
}
.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	transition: all 250ms ease-in;
}
.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 528px;
	min-height: 581px;
	background-color: $primary-color;
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	color: $primary-text;
	&__close-btn {
		position: absolute;
		top: 8px;
		right: 8px;
		background-color: $primary-color;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		cursor: pointer;
		width: 30px;
		height: 30px;
	}
	&__header {
		font-size: 20px;
		font-weight: 700;
		line-height: 2.3;
		color: $secondary-text;
	}
	&__hover:hover > .modal__input,
	&__hover:focus > .modal__input {
		border: $hover-text 1px solid;
		box-shadow: none;
		outline: none;
	}
	&__hover:hover > .modal__icon,
	&__hover:focus > .modal__icon {
		fill: $hover-text;
	}
	&__input {
		width: 448px;
		height: 40px;
		display: block;
		margin: 3px 0 10px 0;
		padding: 0 0 0 30px;
		border-radius: 4px;
		border: $border-color 1px solid;
		padding: 0 0 0 30px;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
	}
	&__icons {
		fill: $secondary-text;
		width: 20px;
		height: 20px;
		position: absolute;

		&-position1 {
			top: 126px;
			left: 52px;
		}
		&-position2 {
			top: 192px;
			left: 52px;
		}
		&-position3 {
			top: 258px;
			left: 51px;
		}
	}
	&__comment {
		resize: none;
		width: 448px;
		height: 120px;
		padding: 12px 16px;
		border-radius: 4px;
		outline: none;
		transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

		&:hover,
		:focus,
		:active {
			border: $hover-text 1px solid;
			box-shadow: none;
			outline: none;
		}
	}
	&__comment::placeholder {
		color: rgba(117, 117, 117, 0.658);
	}
	&__terms-and-conditions {
		font-size: 14px;
		padding: 15px 0 20px 0;

		& input {
			position: absolute;
			opacity: 0;
			height: 0;
			width: 0;
		}
		& input:checked ~ .modal__checkmark {
			background-color: $hover-text;
			border: none;
		}
		:checked ~ .modal__checkmark:after {
			display: block;
		}
	}
	&__tick {
		fill: $primary-color;
		width: 11px;
		height: 8px;
		position: absolute;
		left: 47px;
		top: 462px;
		z-index: 999;
		cursor: pointer;
	}
	&__checkmark {
		position: absolute;
		cursor: pointer;
		top: 458px;
		left: 45px;
		height: 15px;
		width: 16px;
		border-radius: 2px;
		background-color: $primary-color;
		border: $secondary-text 2px solid;
		&:after {
			content: "";
			position: absolute;
			display: none;
		}
	}
	&__links {
		color: $hover-text;

		&:hover {
			color: $primary-text;
		}
	}
	&__button {
		background-color: $hover-text;
		border-radius: 4px;
		width: 200px;
		height: 50px;
		border: none;
		color: $primary-color;
		font-weight: map-get($font-weight, bold);
		font-size: map-get($font-size, enlarged);
		cursor: pointer;
		transition: 0.3s;
		&:hover {
			box-shadow: 2px 2px 10px $background-footer;
			transition: 0.3s;
			background-color: $background-footer;
			transform: scale(1.05) translateY(0.125rem);
		}
	}
}
