$font-weight: (
	"regular": 400,
	"medium": 500,
	"bold": 700,
	"extrabold": 900,
);
$font-size: (
	"logo-font": 26px,
	"main-text": 44px,
	"standard": 14px,
	"enlarged": 16px,
	"cardheader": 18px,
	"section-header": 36px,
);
$letter-spacing: (
	"links": 0.02em,
	"standard": 0.03em,
	"header": 0.06em,
);
$standard-font: "Roboto", sans-serif;
$logo-font: "Raleway", sans-serif;
